/* post */
/* width="701" height="454" */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  overflow-x: hidden;
  background-color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
textarea,
button,
select,
a :focus {
  outline: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  top: -100px;
  margin: 20px 0px;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav_section {
  /* height: 91px; */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  /* margin: 0% 10%; */
}
.nav_section_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 100px; */
  padding: 20px 10%;
}

.line {
  border: 1px solid #1877f2;
  background-color: #1877f2;
}

button[type="submit1"] {
  /* width: 133px; */
  background: #1877f2;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  /* font-size: 12px; */
  font-size: clamp(12px, 1vw, 18px);
  line-height: 12px;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

button[type="submit2"] {
  /* width: 133px; */
  background: #1d915c;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: clamp(14px, 1vw, 18px);
  line-height: clamp(21px, 1vw, 27px);
  padding: 10px 40px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}
button[type="submit3"] {
  background: #18a0fb;
  font-size: 18px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

.heading {
  padding-top: 140px;
  padding-left: 29px;
}
.heading > p {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(36px, 8vw, 48px);
  line-height: clamp(44px, 6vw, 59px);
}
.heading > p:first-child.heading_text_black {
  color: #0c1116;
}
.heading > p:last-child.heading_text_green {
  color: #1d915c;
}

.input-box {
  width: 100%;
  height: 35px;
  padding: 6px 10px;
  margin: 5px 0;
  background: #ecf0f3;
  border-radius: 10px;
  border-color: #ecf0f3;
  border: none;
}

.signup_container {
  /* width: 357px; */
  /* height: 192px; */
  background: #ffffff;
  border: 1px solid #1877f2;
  box-sizing: border-box;
  border-radius: 40px;
  margin-left: 29px;
  /* margin-right: 29px; */
  margin-top: 40px;
}

.signup_inner_container {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.container_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
/* .label_container {
  display: flex;
  flex-direction: column;
} */
.first_row {
  margin-bottom: 20px;
}
.second_row {
  margin-bottom: 30px;
  margin-left: 50px;
}
.first_label {
  background: linear-gradient(90deg, #18a0fb 1.5%, #fdd015 108.25%);
  border-radius: 50px;
  padding: 10px 15px;
  margin: 2px 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}
.second_label {
  background: linear-gradient(90deg, #1d915c 0%, #1877f2 100%);
  border-radius: 50px;
  padding: 10px 15px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
}
.third_label {
  background: linear-gradient(90deg, #e25840 0%, #293c4b 100%);
  border-radius: 50px;
  padding: 10px 15px;
  margin: 3px 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
}
.forth_label {
  background: linear-gradient(90deg, #189ff9 11.95%, #1d915c 89.04%);
  border-radius: 50px;
  padding: 10px 15px;
  margin: 3px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
}
.coin_title {
  font-weight: 800;
  font-size: 18px;
  /* font-size: clamp(18px, 1vw, 18px); */
  line-height: 22px;
  color: #0c1116;
}
.account_label {
  font-size: 12px;
  line-height: 11px;
  font-weight: 500;
  color: #72686f;
  margin-top: 10px;
}

.otp {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.otp-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0px 20px;
}
.main-container {
  display: flex;
  justify-content: center;
}
.inner-container {
  width: 300px;
}
@media only screen and (max-width: 600px) {
  .inner-container {
    width: 100%;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.otp_text {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 151.5%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #3f2d3b;
}
.seconds {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #72686f;
  margin-top: 30px;
}
.resend_otp {
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #72686f;
  margin-bottom: 30px;
  outline: none;
  border: 0px;
  background: none;
}
/*  */
.signup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 30px;
}

.signup_Heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #3f2d3b;
  margin-top: 30px;
}

.username_label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  color: #1877f2;
}
input .first_name_input,
.last_name_input,
.user_name_input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 151.5%;
  display: flex;
  align-self: flex-start;
  text-transform: capitalize;
  color: #72686f;
}
/* #mobileno {
  max-height: 40px;
  font-size: 20px;
  padding: 10px;
} */
.error_message {
  font-weight: 500;
  font-size: 9px;
  text-transform: capitalize;
  color: #ee1414;
}
.member_text {
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
/*  */
select {
  width: 90%;
  height: 35px;
  padding: 6px 10px;
  margin: 5px 0;
  background: #ecf0f3;
  border-radius: 10px;
  border-color: #ecf0f3;
  border: none;
}

input .mobileno,
.otp_input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 151.5%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  /* color: #c4c4c4; */
  color: #72686f;
}
input[type="text"] .mobileno::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 24px;
  line-height: 151.5%;
  text-transform: capitalize;
  color: #72686f;
}
.mobileno {
  height: 50px;
  font-size: 16px;
}

#mobileButton,
#startNetworking {
  background: #1877f2;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  font-size: clamp(12px, 1vw, 18px);
  line-height: 12px;
  padding: 15px 30px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

.svg_container {
  max-width: 700px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  /* margin: 0px 0px; */
  margin-top: 50px;
  margin-bottom: 100px;
}
.label_container {
  max-width: 570px;
  max-height: 113px;
  width: 100%;
  height: 100%;
  /* margin: 80px 0px; */
}

.first_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 10%;
}

.reward_wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 70px 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #293c4b;
}
.reward_inner_wrapper {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 50px; */
}

.summary_heading {
  /* font-size: clamp(14px, 1vw, 18px); */
  font-weight: 400;
  font-size: clamp(14px, 1vw, 38px);
  line-height: clamp(22px, 1vw, 37px);
  color: #ffffff;
}

.shopping .vip .brand .money {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.vip_img,
.brand_img {
  margin-left: 8px;
}
.reward_heading {
  font-weight: 600;
  font-size: clamp(14px, 1vw, 18px);
  line-height: clamp(22px, 1vw, 30px);
  color: #ffffff;
  text-align: center;
}

.green_text {
  color: #1d915c;
  font-weight: bold;
}
.early_heading {
  text-align: center;
  margin-top: 50px;
}
.early_heading_first {
  /* font-size: 17px; */
  /* line-height: 29px; */
  font-weight: 700;
  font-size: clamp(24px, 1vw, 28px);
  line-height: clamp(36px, 1vw, 42px);
  /* font-weight: bold; */
  color: #0c1116;
}
.early_heading_second {
  /* font-size: 24px; */
  /* line-height: 29px; */
  font-weight: 700;
  font-size: clamp(48px, 1vw, 68px);
  line-height: clamp(72px, 1vw, 90px);
  /* font-weight: bold; */
  color: #0c1116;
  margin: 5px 0px;
}
.early_heading_third {
  /* font-size: 15px; */
  /* line-height: 29px; */
  font-size: clamp(24px, 1vw, 28px);
  line-height: clamp(35px, 1vw, 35px);
  font-weight: 500;
  color: #1d915c;
}

.middle_container {
  display: flex;
  align-items: center;
  flex: 1;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15%;
  margin-right: 0%;
}
.screen {
  max-width: 623px;
  max-height: 778px;
  width: 100%;
  height: 100%;
}

.wave_container,
.wave_container2 {
  display: inline-block;
  width: 100%;
  background-color: #3e3fc9;
}

/* .wave1 {
  width: 100%;
  height: 100%;
  display: inline-block;
} */

.bubble_Container1,
.bubble_Container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bubble_Container1 {
  margin-bottom: -30%;
}
.bubble1_container,
.bubble3_container {
  margin-right: 5%;
}
.bubble1,
.bubble2,
.bubble3,
.bubble4 {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 700px;
}
.bubble1_container,
.bubble3_container,
.bubble2_container,
.bubble4_container {
  /* max-width: 700px;
  max-height: 500px; */
  width: 100%;
  height: 100%;
  position: relative;
}
.bubble1_container,
.bubble2_container {
  top: -400px;
}
.bubble3_container,
.bubble4_container {
  bottom: -400px;
}
.container_heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 37%;
  transform: translate(-20%, -37%);
}
.container_subheading {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
}
.Grow_network {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
}
.networth {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
}
.growth {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
}
.ask_corner {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
}
/* .four_container {
  padding: 20px 90px;
  background-color: #ecf0f3;
  flex: 0.75;
  width: 100%;
  height: 100%;
}
.first_row,
.second_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
}
.first_container,
.third_container,
.fourth_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #293c4b;
  border-radius: 30px;
  max-width: 309px;
  height: 309px;
  padding: 20px;
  position: relative;
}
.second_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #293c4b;
  border-radius: 30px;
  height: 309px;
  padding: 20px 35px;
  position: relative;
}
.second_container,
.fourth_container {
  margin-left: 25px;
}
.first_container,
.third_container {
  margin-right: 25px;
} */

.increase {
  position: absolute;
  bottom: -30px;
}
.follow {
  background-color: #1877f2;
  border-radius: 30px;
  padding: 5px 30px;
  color: #ffffff;
  position: absolute;
  bottom: -18px;
}
.no_of_coins {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.second_inner_container {
  background: #293c4b;
  border: 1px solid #fdd015;
  border-radius: 20px;
  padding: 10px 30px;
  position: absolute;
  bottom: -20px;
}
.no_of_coins {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.coins {
  font-weight: 400;
  font-size: 10px;
  color: #958e97;
}
.people_container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* align-self: center; */
  margin: 30px 25%;
}
.people_bold {
  font-weight: bold;
  font-size: 48px;
  line-height: 30px;
  color: #0c1116;
  align-self: center;
}
.people {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0.14;
}
.people_heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #0c1116;
}
.people_inner_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  flex: 1;
}
.user_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 50px 50px;
  background: #293c4b;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.user_inner_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-right: 15px;
}
.heading_yellow_count {
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  color: #fdd015;
  flex: 0.8;
  margin-bottom: 20px;
}
.user_text {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  flex: 0.2;
  text-align: center;
}
.screen_step_early_container {
  /* position: relative; */
}
.top_wave_container,
.working_steps {
  padding: 20px 3%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
}
.working_steps_container {
  margin: 20px 0px;
}
/* .top_wave_container,
.working_steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}*/
/* .working_steps_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */
.working_heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #fdd015;
}
/* .working_steps_no {
  width: 83px;
  height: 83px;
  border-radius: 1000px;
  background: #fdd015;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #0c1116;
  margin-bottom: 20px;
  margin-right: 20px;
} */
.working_step {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.mobile_screens {
  position: relative;
  top: -400px;
}
.early_birds_container {
  max-width: 594px;
  max-height: 386px;
  background: #293c4b;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  position: relative;
  bottom: -200px;
  margin: auto;
}
.star_bonus {
  position: absolute;
  top: -35px;
  right: -35px;
}
.heading_early {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 40px 0px;
}
.slots {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #fdd015;
  margin-bottom: 40px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_heading {
  font-style: italic;
  font-weight: bold;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
  text-transform: capitalize;
  color: #0c1116;
}
.store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.google_play {
  margin-right: 5px;
}
.copy_right {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin: 40px 0px;
}
.working_step {
  margin-left: 10px;
}
.working_heading {
  margin-left: 30px;
}

@media screen and (min-width: 2000px) {
  .early_heading {
  }
  .first_wrapper {
    margin: 50px 10%;
  }
  .reward_wrapper {
    margin: 0px 15%;
  }
  .nav_section_inner {
    padding: 20px 15%;
  }
  .container_heading {
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-20%, -35%);
  }
  .container_subheading {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-35%, -35%);
  }
  .working_step {
    margin-left: 10px;
  }
  .working_heading {
    margin-left: 40px;
  }
}

@media screen and (max-width: 880px) {
  .top_wave_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .mobile_screens {
    position: relative;
    top: -250px;
    width: 100%;
  }
  .working_steps_container {
    margin-top: -290px;
  }
  .early_birds_container {
    margin-top: -200px;
  }
}
@media screen and (max-width: 1110px) {
  .first_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .second_wrapper {
    margin-bottom: 20px;
  }
  .nav_section_inner {
    padding: 20px 10%;
  }
  .early_heading {
    text-align: center;
    margin-right: 0%;
  }

  .screen {
    max-width: 1900px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
  }

  .middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
  }
  .four_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first_row,
  .second_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .second_container,
  .fourth_container {
    margin-left: 0px;
    margin-top: 50px;
  }
  .first_container,
  .third_container {
    margin-right: 0px;
  }
  .first_container {
    margin-top: 20px;
  }
  .four_container {
    padding: 10px 30px;
  }
  .people_container {
    margin: 30px 2%;
  }
  .user_container {
    display: flex;
    flex-direction: column;
    margin: 60px 20px;
    padding: 50px 15px;
  }
  .user_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 50px 0px;
  }
  /* .bubble_Container1,
  .bubble_Container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  } */
  .bubble_Container1 {
    margin-bottom: -12%;
  }
  .bubble1_container,
  .bubble3_container {
    margin-right: 2%;
  }
  .wave_container {
    width: 100%;
    /* height: 100%; */
  }
  .bubble1_container,
  .bubble2_container {
    top: -90px;
  }
  .bubble3_container,
  .bubble4_container {
    bottom: -90px;
  }
  .container_info {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: 100%;
  }
  .label_container {
    /* display: flex;
    flex-direction: column; */
    margin-top: 30px;
    padding-left: 10px;
  }
  .first_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .second_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .second_label,
  .forth_label {
    margin-left: 5px;
  }
  .working_step {
    margin-left: 10px;
  }
  .working_heading {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1367px) and (min-width: 1110px) {
  .bubble_Container1 {
    margin-bottom: -12%;
  }
  .bubble1_container,
  .bubble3_container {
    margin-right: 2%;
  }
  .wave_container {
    width: 100%;
    /* height: 100%; */
  }
  .bubble1_container,
  .bubble2_container {
    /* top: -90px; */
    top: -190px;
  }
  .bubble3_container,
  .bubble4_container {
    /* bottom: -90px; */
    bottom: -190px;
  }
}

@media screen and (max-width: 2344px) and (min-width: 1778px) {
  .container_heading {
    position: absolute;
    top: 20%;
    left: 37%;
    transform: translate(-20%, -37%);
  }
  .container_subheading {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-35%, -40%);
  }
}

@media screen and (max-width: 1744px) and (min-width: 1367px) {
  .middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
  }
  .screen {
    max-width: 1900px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
  }
  .bubble_Container1 {
    margin-bottom: -45%;
  }
  .container_heading {
    position: absolute;
    top: 20%;
    left: 37%;
    transform: translate(-20%, -37%);
  }
  .container_subheading {
    position: absolute;
    top: 35%;
    left: 44%;
    transform: translate(-35%, -44%);
  }
}

@media screen and (min-width: 480px) and (max-width: 900px) {
  .bubble_Container1,
  .bubble_Container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bubble_Container1 {
    margin-bottom: -20%;
  }
  .bubble1_container,
  .bubble3_container {
    margin-right: 0%;
  }
  .wave_container {
    width: 100%;
  }
  .bubble1_container,
  .bubble2_container {
    top: -90px;
  }
  .bubble3_container,
  .bubble4_container {
    bottom: -90px;
  }
  .Grow_network {
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-70%, -52%);
  }
  .networth {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-70%, -60%);
  }
  .growth {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-70%, -50%);
  }
  .reward_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 70px 0px;
    margin: 0px 5px;
  }
  .reward_inner_wrapper {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  .summary_heading {
    text-align: center;
    margin-bottom: 40px;
  }
  .container_heading {
    position: absolute;
    top: 20%;
    left: 42%;
    transform: translate(-20%, -42%);
  }
  .container_subheading {
    position: absolute;
    top: 35%;
    left: 42%;
    transform: translate(-35%, -42%);
  }
}
@media screen and (max-width: 480px) {
  .first_wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px 0%;
    /* align-items: center; */
  }
  .reward_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 70px 0px;
    margin: 0px 5px;
  }
  .reward_inner_wrapper {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  .early_heading {
    text-align: center;
    margin-right: 0%;
  }
  .summary_heading {
    text-align: center;
    margin-bottom: 40px;
  }
  .svg_container {
    margin-top: 30px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    /* margin: 0px 0px; */
  }

  .label_container {
    margin-top: 30px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    max-width: 570px;
    max-height: 113px;
    /* margin: 0px 0px; */
  }
  .nav_section_inner {
    padding: 20px 3%;
  }
  .heading {
    padding-top: 80px;
    padding-left: 20px;
  }
  .signup_container {
    margin-left: 15px;
    margin-right: 5px;
  }
  .middle_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
  }
  .four_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first_row,
  .second_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .second_container,
  .fourth_container {
    margin-left: 0px;
    margin-top: 50px;
  }
  .first_container,
  .third_container {
    margin-right: 0px;
  }
  .first_container {
    margin-top: 20px;
  }
  .four_container {
    padding: 10px 30px;
  }
  .people_container {
    margin: 30px 0%;
  }
  .people_bold {
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
  }
  .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.14;
  }
  .people_inner_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
  }
  .people_heading {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
  }
  .user_container {
    display: flex;
    flex-direction: column;
    margin: 60px 5px;
    padding: 50px 15px;
  }
  .heading_yellow_count {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
  }
  .user_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 50px 0px;
  }
  .bubble_Container1,
  .bubble_Container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .bubble_Container1 {
    margin-bottom: -27%;
  }
  .bubble1_container,
  .bubble3_container {
    margin-right: 0%;
  }
  .wave_container {
    width: 100%;
  }
  .bubble1_container,
  .bubble2_container {
    top: -90px;
  }
  .bubble3_container,
  .bubble4_container {
    bottom: -90px;
  }
  .container_heading {
    position: absolute;
    top: 20%;
    left: 39%;
    transform: translate(-20%, -39%);
  }
  .container_subheading {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-35%, -40%);
  }
  .Grow_network {
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-70%, -55%);
  }
  .networth {
    position: absolute;
    top: 80%;
    left: 73%;
    transform: translate(-80%, -73%);
  }
  .ask_corner {
    position: absolute;
    top: 74%;
    left: 60%;
    transform: translate(-74%, -60%);
  }
  .growth {
    position: absolute;
    top: 81%;
    left: 55%;
    transform: translate(-81%, -55%);
  }
  .top_wave_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .mobile_screens {
    position: relative;
    top: -150px;
    width: 100%;
  }
  .early_birds_container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -200px;
  }
  .working_steps_container {
    margin-top: -140px;
  }
  .working_step {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-left: 10px;
  }
  .working_heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fdd015;
    margin-left: 20px;
  }
  /* .working_steps_no {
    margin-left: 30px;
  } */

  .wave_container2 {
    margin-bottom: 150px;
  }
  .footer_heading {
    font-size: 48px;
    line-height: 72px;
  }

  .copy_right {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
  .container_info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    flex: 1;
    width: 100%;
    height: 100%;
    /* justify-content: space-between; */
  }
  /* .label_container {
    display: flex;
    flex-direction: column;
  } */
  .first_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .second_row {
    display: flex;
    flex-direction: row;
    /* margin-bottom: 30px; */
    margin-left: 30px;
  }
  .first_label {
    margin: 0px 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 9px;
    color: #ffffff;
    padding: 10px 10px;
  }
  .second_label {
    font-style: italic;
    font-weight: 700;
    font-size: 9px;
    color: #ffffff;
    padding: 10px 10px;
  }
  .third_label {
    margin: 0px 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 9px;
    color: #ffffff;
    padding: 10px 10px;
  }
  .forth_label {
    font-style: italic;
    font-weight: 700;
    font-size: 9px;
    color: #ffffff;
    padding: 10px 10px;
  }
  /* .second_label,
  .forth_label {
    margin-left: 5px;
  } */
  .star_bonus {
    position: absolute;
    top: -35px;
    right: -10px;
  }
  .heading_early {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }
  .slots {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }
}
.input-main {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.username-input {
  width: 100%;
}
.user-action {
  position: absolute;
  right: 15px;
}
#input-close,
#input-loading,
#input-check {
  display: none;
}
#input-close,
#input-check {
  background: #ee1414;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#input-check {
  background: #10b981;
}

.input-loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #1877f2;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.autoCompletemain {
  position: relative;
  width: 100%;
}

.autocompleteBox {
  background: #ecf0f3;
  width: 100%;
  max-height: 200px;
  position: absolute;
  z-index: 100;
  overflow: auto;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

.industry {
  font-size: 10px;
  color: #1877f2;
}
.profession {
  margin-top: 5px;
  font-size: 14px;
  color: #72686f;
  cursor: pointer;
}
.profession:hover {
  background: #c4c4c4;
}
.industry-cat {
  margin-bottom: 15px;
}

.searchIndustryBox {
  position: relative;
  display: flex;
  align-items: center;
}
.searchBoxLoad {
  position: absolute;
  right: 15px;
}
.searchBoxLoad {
  display: none;
}
.pac-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100000;
  display: none;
}
.pac-img {
  width: 100px;
}
