* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  background-color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* -webkit-tap-highlight-color: white; */
}

.nav_section {
  /* height: 91px; */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  /* margin: 0% 10%; */
}
.nav_section_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.line {
  border: 1px solid #1877f2;
}

button[type="submit1"] {
  /* width: 133px; */
  background: #1877f2;
  border-radius: 50px;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  /* font-size: 12px; */
  font-size: clamp(12px, 1vw, 18px);
  line-height: 12px;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

.heading {
  padding-top: 140px;
  padding-left: 29px;
}
.heading > p {
  font-weight: 800;
  font-size: clamp(36px, 8vw, 48px);
  line-height: clamp(44px, 6vw, 59px);
}
.heading > p:first-child.heading_text_black {
  color: #3f2d3b;
}
.heading > p:last-child.heading_text_green {
  color: #1d915c;
}

.signup_container {
  /* width: 357px; */
  /* height: 192px; */
  background: #ffffff;
  border: 1px solid #1877f2;
  box-sizing: border-box;
  border-radius: 40px;
  margin-left: 29px;
  margin-right: 29px;
  margin-top: 40px;
}

.signup_inner_container {
  margin-left: 20px;
  margin-top: 24px;
}

.coin_title {
  font-weight: 800;
  font-size: 18px;
  /* font-size: clamp(18px, 1vw, 18px); */
  line-height: 22px;
  color: #3f2d3b;
}
.account_label {
  font-size: 9px;
  line-height: 11px;
  color: #3f2d3b;
  margin-top: 10px;
}

input[type="text"],
select {
  width: 90%;
  height: 35px;
  padding: 6px 10px;
  margin: 5px 0;
  background: #ecf0f3;
  border-radius: 10px;
  border-color: #ecf0f3;
  border: none;
}

input[type="text"].mobileno::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 151.5%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #c4c4c4;
}

input[type="submit"] {
  width: 131px;
  background: #1877f2;
  border-radius: 50px;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
}

.post_card {
  /* width: 100%; */
  height: auto;
}

.first_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 5%;
}

.third_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 7%;
}

.summary_heading {
  font-size: clamp(14px, 1vw, 18px);
  line-height: clamp(22px, 1vw, 30px);
}
.green_text {
  color: #1d915c;
  font-weight: bold;
}
.early_heading {
  text-align: center;
  margin-right: 20%;
  margin-bottom: 50px;
}
.early_heading_first {
  font-size: 17px;
  line-height: 29px;
  font-weight: bold;
  color: #3f2d3b;
}
.early_heading_second {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  color: #3f2d3b;
}
.early_heading_third {
  font-size: 15px;
  line-height: 29px;
  font-weight: 500;
  color: #1d915c;
}

@media screen and (max-width: 1110px) {
  .post_card {
    width: 900px;
    height: auto;
  }
  .first_wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* margin: 100px 5%; */
  }
  .nav_section_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
  }
  .early_heading {
    text-align: center;
    margin-right: 0%;
  }
}

@media screen and (max-width: 480px) {
  .post_card {
    width: 340px;
    height: auto;
  }
  .first_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .early_heading {
    text-align: center;
    margin-right: 0%;
  }
  .summary_heading {
    text-align: center;
    margin-bottom: 40px;
  }
}
